#tweet-prompt-box {
	background: #fff;
	border-top: 1px solid #ccc;
	-webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
		-ms-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
		 -o-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
			box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
	color: #444;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	position: fixed;
	bottom: 0;
	right: 0;
	display: none;
	width: 100%;
}

#tweet-prompt-box h4 {
	background: #f5f5f5;
	font-size: 16px;
	font-weight: bold;
	line-height: 1;
	margin: 0;
	padding: 15px;
}

#tweet-prompt-box p {
	font-size: 13px;
	margin: 0;
	padding: 10px 15px;
}

#tweet-prompt-box .tweet-prompt-box-button {
	background: #55acee;
	border: 1px solid #55acee;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
		-ms-border-radius: 3px;
		 -o-border-radius: 3px;
			border-radius: 3px;
	color: #fff;
	display: block;
	font-size: 14px;
	line-height: 1;
	margin: 0 15px 15px;
	padding: 10px 15px;
	text-align: center;
	transition: all 0.5s;
}

#tweet-prompt-box .tweet-prompt-box-button span {
	background: url(twitter-white.png) no-repeat left center;
	background-size: 16px;
	display: inline-block;
	height: 16px;
	line-height: 1;
	margin: 0;
	padding-left: 24px;
}

#tweet-prompt-box .tweet-prompt-box-button:hover {
	background: #64BAFC;
	border-color: #3a7bad;
}

.tweet-prompt-box-close {
	background: url(close-x.png) no-repeat;
	background-size: 16px;
	display: block;
	height: 16px;
	margin: 0;
	position: absolute;
	right: 5px;
	top: 5px;
	text-indent: -9999em;
	width: 16px;
}

#tweet-prompt-box.tweet-prompt-box-dark {
	background: #292f33;
	border-color: #292f33;
	color: #e1e8ed;
}

#tweet-prompt-box.tweet-prompt-box-dark h4 {
	background: rgba(255, 255, 255, 0.1);
}

@media all and (min-width: 590px) {
	#tweet-prompt-box {
		border: 1px solid #ccc;
		-webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
		   -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
			-ms-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
			 -o-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
				box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
		-webkit-border-radius: 3px;
		   -moz-border-radius: 3px;
			-ms-border-radius: 3px;
			 -o-border-radius: 3px;
				border-radius: 3px;
		bottom: 25px;
		right: 25px;
		width: 250px;
	}
}